body {
  background-color: #282c34;
}

.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-navbar {
  overflow: hidden;
}
.App-navbar a {
  float: left;
  display: block;
  color: gainsboro;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
}
.App-navbar a:hover {
  color: #f83838;
}

.App-content {
  background-color: gainsboro;
  min-height: 80vh;
}
.App-content h1 {
  margin: 0;
}

.App-footer {
  background-color: #282c34;
  color: white;
  min-height: 10vh;
  padding-top: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
